{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="{% url 'home' post.user.pk %}">{{ post.user.username }}</a><img style="width: 30px; height: 30px;" src="{{ user.profile.avatar.url }}"></div>
                    <div class="panel-body">{{ post.text }}</div>
                    <div class="panel-footer">
                        <p>{{ post.like }}</p>
                        <p>{{ post.dislike }}</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}